[% USE Branches %]
[% INCLUDE 'doc-head-open.inc' %]
 <title>Koha: Tools: Branch Closure</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body>
[% INCLUDE 'header.inc' %]
[% INCLUDE 'cat-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/plugins/plugins-home.pl">Plugins</a> &rsaquo; Stenging av avdeling &rsaquo; Eksemplarer flyttet</div>

<div id="doc3">
    Eksemplarene til [% Branches.GetName(branchcode) %] er nå gjort utilgjengelige. De vil bli gjort tilgjengelige igjen når avdelingen åpnes igjen.<br />
    <form>
      <input type="hidden" name="class" value="[% CLASS %]"/>
      <input type="hidden" name="method" value="[% METHOD %]"/>
      <input type="submit" value="gå tilbake" />
    </form>

[% INCLUDE 'intranet-bottom.inc' %]
